[submodule "Compass"]
	path = Compass
	url = git@github.com:WaterfOWLS2017/Compass
[submodule "CV"]
	path = CV
	url = git@github.com:WaterfOWLS2017/CV
[submodule "Lidar"]
	path = Lidar
	url = git@github.com:WaterfOWLS2017/Lidar
[submodule "GPS"]
	path = GPS
	url = git@github.com:WaterfOWLS2017/GPS
[submodule "Motors"]
	path = Motors
	url = git@github.com:WaterfOWLS2017/Motors
