[submodule "cv"]
	path = cv
	url = git@github.com:WaterfOWLS2017/cv
[submodule "motors"]
	path = motors
	url = git@github.com:WaterfOWLS2017/motors
[submodule "lidar"]
	path = lidar
	url = git@github.com:WaterfOWLS2017/lidar

